name: Build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-test:
    name: build and test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Mount bazel cache
        uses: actions/cache@v2
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel_${{matrix.os}}

      - name: run tests
        run: bazelisk test tests:tests

      - name: save test path
        run: |
          echo "TESTPATH=$(bazelisk info bazel-testlogs)" >> $env:GITHUB_ENV

      - name: save test path posix
        run: |
          echo "TESTPATH=$(bazelisk info bazel-testlogs)" >> $GITHUB_ENV

      - name: build and run main
        run: bazelisk run src/main:main

      - name: upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Unit Tests (${{ matrix.os }})
          path: "${{ env.TESTPATH }}/**/*.xml"

  publish-test-results:
    name: Publish Unit Tests Results
    needs: build-and-test
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: artifacts/**/*.xml
